.panda-card-footer{
    background-color: white;
    border: 0;
}

.caro-img{
    background-color: #fceae8;
    border-radius: 1em;
}
.btn-color{
    background-color: #ff136f;
    border-radius: 5px;
}